# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

dungeon_performance_data/*.csv



# Ignore virtual environments
venv/
.env
*.log

# Ignore Docker-related files
*.dockerignore
*.env
docker-compose.yml

# Ignore system files (macOS, Windows)
.DS_Store
Thumbs.db

# Ignore VS Code and JetBrains IDE settings (optional)
.vscode/
.idea/